body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #f4f6fb;
    color: #333;
}

header {
    background: #1f3cff;
    color: white;
    text-align: center;
    padding: 55px 20px;
}

/* Logo */
.logo {
    margin-bottom: 15px;
}

.logo svg {
    width: 96px;
    height: 96px;
}

/* Logo styling */
.hat-top {
    fill: url(#hatGradient);
}

.hat-base {
    fill: #8fa0ff;
}

.tassel-line,
.tassel-dot {
    stroke: #fff;
    fill: #fff;
}

.tassel {
    transform-origin: top center;
    animation: tasselSwing 3s ease-in-out infinite;
}

@keyframes tasselSwing {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

header h1 {
    margin: 0;
    font-size: 38px;
    letter-spacing: 0.5px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.9;
}

.nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 18px;
}

.nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.9;
}

.nav a:hover {
    opacity: 1;
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 30px 20px;
}

h2 {
    color: #1f3cff;
    margin-bottom: 10px;
}

.card {
    background: white;
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 28px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

ul,
ol {
    padding-left: 20px;
}

a {
    color: #1f3cff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-box input {
    width: 97.5%;
    padding: 11px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.login-box button {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    background-color: #1f3cff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #182fc2;
}

.login-box p {
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: #e1e5ff;
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    font-size: 14px;
}

/* animation */
.tassel {
    transform-origin: top center;
    animation: tasselSwing 3s ease-in-out infinite;
}

@keyframes tasselSwing {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}
